/* global-sizing fix */
:root {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}

/* set a grey background for the page */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* set global margins */
body * + * {
  margin-top: 1.5em;
}

/* Double container to center page contents */
.container {
  background-color: #ddd7d7;
  max-width: 1080px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, auto);
  grid-gap: .5em;
}

header, nav, footer{
    background:linear-gradient(#008cff,#3ecc3e);
    grid-column: 1/3;
    grid-row:span 1;
    margin-top: 0;
}


/*titleArea layout and styles */
  .titleArea {
    grid-column: 1/3;
    grid-row: span 1;
    margin: 0;
    padding: 0.5em;
  }

/*dealer, player styles*/

.dealer{
  grid-column: 1/2;
  grid-row: 4/5;
  background-color: white;
  margin: 0;
  padding: 0.5em;
  margin-left: .5em;
  border-radius: 0.5em;
}
.player{
  grid-column: 2/3;
  grid-row: 4/5;
  background-color: white;
  margin: 0;
  padding: 0.5em;
  margin-right: 0.5em;
  border-radius: 0.5em;
}

/* styling site navigation bar */
.flexContainer{
  display: flex;
  border-radius: .2em;
  padding: 0.5em;
  list-style-type: none; /* to remove the bullets */
  margin: 0;
}

/*Overrides the lobotomized owl top margin*/
.flexContainer > li {
  margin-top: 0;
}
/*Remove the underline link text, and set a background color for the items*/
.flexContainer > li > a {
  display: block;     /*make them block level so that they add to the parent elements height */
  padding: .5em 1em;
  text-decoration: none;
  background-color: #cc6b5a;
  color: white;
}

/* add spaces between the navigation items */

.flexContainer > li+li {
  margin-left: 1.5em;
}

/* move the last nav item */
.flexContainer > .flex-right {
  margin-left: auto;
}

h1 {
  font-weight: normal;
  text-transform: uppercase;
}

#hit-button {
    color: red;
}


fieldset {
  width: 400px;

}
button {
  padding: 10px;

}
